/* 
    Document   : test
    Created on : Feb 1, 2013, 8:12:41 PM
    Author     : sanzhar
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

input[type="text"], input[type="password"] {
    height: 14px;
}

.well {
    background-color: darkorange;
}

