/* 
    Document   : test
    Created on : Feb 1, 2013, 8:12:41 PM
    Author     : sanzhar
    Description:
        Purpose of the stylesheet follows.
*/

.vertical {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    width: 20px;
}

root { 
    display: block;
}

.footer {
    text-align: center;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 14px;
    font-size: 12px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 4px 4px 4px 4px;
  color: #555555;
  display: inline-block;
  font-size: 12px;
  height: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 2px 2px;
  vertical-align: middle;
}

select, input[type="file"] {
  font-size: 12px;
  height: 21px;
  line-height: 25px;
}

.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    min-height: 20px;
}

body {
    font-size: 12px;
}

.bootstrap-widget-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 25px;
  position: relative;
}

.bootstrap-widget-header h3 {
    line-height: 5px;
}

.input-append .add-on, .input-prepend .add-on {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 15px;
  line-height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  width: auto;
}

.grid-view {
    padding-top: 0px;
}

/*.select2-container .select2-choice div b {
  height: 22px;
  line-height: 22px;
}*/

.select2-container .select2-choice {
  height: 18px;
  line-height: 18px;
}

.select2-container .select2-choice div b {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: -4px;
}

.form-horizontal .control-label {
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 100px;
  font-size: 12px;
}

.form-horizontal .controls {
  margin-left: 110px;
  padding-top: 5px;
}

.form-horizontal .control-group {
  margin-bottom: 0px;
}

.form-horizontal .form-actions {
  padding-left: 110px;
}

.form-actions {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-right: 0px; 
}

.input-append .add-on, .input-prepend .add-on {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 10px;
  line-height: 18px;
  min-width: 16px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  width: auto;
}

.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block {
  margin-top: 0;
}

[class^="icon-"], [class*=" icon-"] {
  /*background-image: url("../img/glyphicons-halflings.png");*/
  /*background-position: 14px 14px;*/
  /*background-repeat: no-repeat;*/
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: -1px;
  vertical-align: text-top;
  width: 14px;
}

.ui-dialog .ui-dialog-title {
  color: #404040;
  float: left;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 1px;
}

.ui-dialog .ui-dialog-titlebar {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px solid #CCCCCC;
  border-bottom-left-radius: 0;
  border-color: white white #CCCCCC;
  font-size: 12px;
  padding: 1px;
  position: relative;
  text-decoration: none;
}
